<style>
    .tr{
        padding: 10px;
    }
    .pdName{
    cursor:pointer;
    }
</style>





<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Brand</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Cost Price</th>
        <th scope="col">Selling Price</th>
        <th scope="col">#</th>
        <th scope="col">#</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      <%  for(var i=0;i<res.length;i++){  %>
      <tr>
        

        <th scope="row"><%= res[i].id %></th>
        <td ><%= res[i].brand%></td>
        <td><%= res[i].pname%></td>
        <% var a = "bg-warning" %>
        <%
          if(Number(res[i].quantity < 30)){
            a = "bg-danger"
          }else if(Number(res[i].quantity >= 100)){
            a = "bg-success"
          }
        %>
        <td>
            <div class="progress" style="height: 20px; ">
                <div class="progress-bar <%= a %> "  role="progressbar" style="width: <%=(Number(res[i].quantity)) %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"> <%= res[i].quantity%> </div>
              </div>

        </td>
        <td>$ <%= res[i].cost_price %></td>
        <td>$ <%= res[i].sell_price %></td>
        <td><button value=<%= res[i]._id %>  type="button" class="edit btn btn-primary" data-target="#EditModal" data-toggle="modal" >Edit</button></td>
        
        <td><button value=<%= res[i]._id %> type="button" class="btn btn-primary sold" data-target="#SoldModal" data-toggle="modal" >Sold</button></td>
        <td><button value=<%= res[i]._id %>  type="button" class="del btn btn-danger" data-target="#DeleteModal" data-toggle="modal">Delete</button></td>
    </tr>

    <% } %>


     
    </tbody>
  </table>

  <div id="DeleteModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Modal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete? </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="delBtn btn btn-danger">Delete</button>
          <button type="button" class=" btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  
  <div id="SoldModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Sold</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="soldquantity">Quantity</label>
            <input type="number" class="form-control" id="soldquantity" placeholder="Quantity">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="soldbtn">Sold</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <div id="EditModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="productid">Product ID</label>
                <input type="text" class="form-control" id="productid"  value=1 disabled>
              </div>
              <div class="form-group col-md-6">
                <label for="Brand">Brand</label>
                <input type="text" class="form-control" id="Brand" value="Johnnie walker" disabled>
              </div>
            </div>
            <div class="form-group">
              <label for="productName">Product Name</label>
              <input type="text" class="form-control" id="productName" value="Black label" disabled>
            </div>
            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" class="form-control" id="quantity" placeholder="Quantity">
              </div>
           
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="costprice">Cost price</label>
                  <input type="number" class="form-control" id="costprice" placeholder="Old Cost Price was ">
                </div>
                <div class="form-group col-md-6">
                  <label for="sellprice">Sell Price</label>
                  <input type="number" class="form-control" id="sellprice" placeholder="Old Sell price was ">
                </div>
              </div>
            
          
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="editBtn" class="btn btn-primary">Edit Product</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<script>

  $(".del").click(function() {
    $(".delBtn").attr("value",$(this).attr("value"));
  });

  $(".delBtn").click(function(){
    var x = $(this).val();
    
    $.post("/removeProduct/"+x,function(data){
      if(data){
        location.reload();
      }
    });
  });


$(".sold").click(function() {
  $("#soldbtn").attr("value",$(this).attr("value"));
});
$("#soldbtn").click(function(){

  var today = new Date();
var dd = String(today.getDate()).padStart(2, '0');
var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
var yyyy = today.getFullYear();

today = dd + '-' + mm + '-' + yyyy;

  var x = $(this).val();
  var y = $("#soldquantity").val();

  $.post("/updateSales/"+x,{qty:y,date:today},function(data){
    if(data == 1){


      $.post("/decSales/"+x,{value:Number(y)},function(data){
        if(data){
          location.reload();
        }
      });

    }else{
      alert("not updated server not responding");
    }
  })
});

  $(".edit").click(function(){
    var val  = $(this).val();
    
    $("#editBtn").attr("value",val);
    $.get("/getProductById/"+val,function(data){
      $("#productid").attr("value",data.id);
      $("#Brand").attr("value",data.brand);
      $("#productName").attr("value",data.pname);
      $("#quantity").attr("value",data.quantity);
      $("#costprice").attr("placeholder","Old Cost Price was "+data.cost_price).val(data.cost_price);
      $("#sellprice").attr("placeholder","Old Sell Price was "+data.sell_price).val(data.cost_price);
    });
  });
 
  $("#editBtn").click(function() {
    var val = $(this).val();
    var quantity = $("#quantity").val();
    var sell =  $("#sellprice").val();
    var cost = $("#costprice").val();

    var data = {
    
      "quantity":quantity,
      "cost_price":cost,
      "sell_price":sell
    }

    $.post("/updateProduct/"+val,data,function(res){
      
      if(res == 1){
        alert("Product updated");
        location.reload();
      }else{
        alert("Server not responding");
      }
    })
   



  });
</script>

  