



<table class="table" >
    <thead>
        <h1 style="padding: 10px;">Sales Report</h1>
    </thead>
    <thead>
       
      <tr>
        <th scope="col">#</th>
        <th scope="col">Purchase Date</th>
        <th scope="col">Product Id</th>
        <th scope="col">Quantity</th>
        <th scope="col">Sell Price</th>
        <th scope="col">Total Sales($)</th>
       
      </tr>
    </thead>
    <tbody>
        <%
        var sum=0;
        for(var i=0;i<res.length;i++)
        {   if(res[i].sales.quantity != null){
            var x = Number(res[i].sales.quantity)*Number(res[i].sell_price);
            sum = sum+x;
        %>  
          
     <tr>
        <td><%= i+1 %></td>
        <td><%= res[i].sales.date %></td>
        <td><%= res[i].id %></td>
        <td><%= res[i].sales.quantity %></td>
        <td>$<%= res[i].sell_price %></td>
        <td>$<%=  x %></td>
    </tr>
    <% }} %>
   
 

    </tbody>
  </table>
<div class="row">
    <dic class="col " style="padding: 30px;">
        <h1 class="float-right">Total : $<%= sum %></h1>
        
    </div>
    
</div>

<div class="row" >
    <div class="col"></div>
    <div class="col-5 bord repo" style="margin-bottom:50px;">
        
        Loading...
    </div>
    <div class="col"></div>
</div>
<script>
    $.get("/salesgraph",(data) => {
        $(".repo").html(data);
    })

</script>

